.caja{
    background-color: steelblue;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 200px;

    /* padding: 30px; */
    /* padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 60px; */

    /* padding: 30px 50px 70px 60px; */

    padding: 30px 70px ;

}