.size {
  font-size: 13px;
}

.verde {
  color: green;
}

.oscuro {
  background-color: rgb(27, 27, 27);
}

h2 {
  text-align: right;
  font-weight: bold;
}

.texto {
  text-align: right;
}

.frases {
  text-align: center;
  font-size: 15px;
}

h6 {
  font-size: 30px;
}

.botones {
  padding-left: 5%;
  padding-bottom: 5%;
}

.btn-primary-amarillo {
  background-color: yellow;
  font-weight: bold;
}

.btn-secondary-celeste {
  background-color: lightskyblue;
  font-weight: bold;
}

.btn-secondary-gris {
  background-color: grey;
  font-weight: bold;
}

.btn-secondary-rojo {
  background-color: red;
  font-weight: bold;
}

.col1 {
  height: 500px;
  width: 300px;
}

.posicionCartas {
  justify-content: center;
  padding-bottom: 50px;
}

.fondo-honolulu {
  background-color: #353a40;
  color: white;
}

.recuerda {
  font-size: 10px;
}

.enviar {
  display: flex;
  justify-content: center;
}

.botonEnviar {
  background-color: #96c93e;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  border: 0px;
  height: 40px;
  color: white;
}

.posicion {
  padding-bottom: 20px;
}

.colorFooter {
  background-color: #1e5170;
  color: white;
  padding: 15px;
}

/* responsive media queries */

@media (max-width: 575.9px) {
  .texto {
    font-size: 5px;
  }
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .texto {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .texto {
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
  .texto {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.9px) {
  .texto {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .texto {
    font-size: 20px;
  }
}

/* COMPRA DE TICKETS */

.tickets .container-tickets {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.tickets-category {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 1rem;
}

.tickets-category .estudiante,
.trainee,
.junior {
  width: 30%;
  min-width: 180px;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tickets-category .estudiante:hover,
.trainee:hover,
.junior:hover {
  transform: scale(0.97);
}

.tickets-category h2 {
  font-size: 1.5rem;
}

.tickets-category h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.tickets-category h5 {
  font-size: 1rem;
  color: var(--gray-700);
}

.tickets-category h6 {
  font-size: 0.7rem;
  color: var(--gray-600);
}

.tickets-category .estudiante {
  border-radius: 5px;
  border: 2px solid blue;
}

.tickets-category .trainee {
  border-radius: 5px;
  border: 2px solid green;
}

.tickets-category .junior {
  border-radius: 5px;
  border: 2px solid orange;
}

.container-tickets .tickets-text {
  text-align: center;
}

.tickets-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tickets-form .ticketsFirstName,
.ticketsLastName {
  width: 49%;
  margin: 0.5rem 0;
  border-radius: 3px;
  border: 1px solid var(--gray-300);
  padding: 5px;
}

.tickets-form .ticketsEmail {
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--gray-300);
  padding: 4px;
}

.tickets-form .labelTicketsQuantity,
.labelTicketsCategory {
  width: 49%;
  margin: 0.5rem 0;
}

.tickets-form .ticketsQuantity,
.ticketsCategory {
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--gray-300);
  padding: 4px;
}

.tickets-form .ticketsCategory {
  background-color: transparent;
  color: var(--gray-600);
}

.tickets-form .ticketsOutput {
  width: 100%;
  background-color: rgb(155, 200, 222);
  border-radius: 3px;
  border: none;
  padding: 10px;
  color: var(--gray-900);
}

.ticketsOutput .ticketsValue {
  float: left;
}

.ticketsOutput .ticketsBuy {
  float: right;
  cursor: pointer;
}

.tickets-form .ticketsBuy::after {
  font: var(--fa-font-solid);
  content: "\f07a";
}

.tickets-form .btnTickets {
  width: 49%;
  background-color: #009349;
  color: var(--gray-100);
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}

/* FOOTER */

.footer {
  background-image: linear-gradient(to right, #004d7a, #008793);
}

.footer .container-footer {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container-footer a {
  text-decoration: none;
  color: var(--gray-200);
  padding: 3rem 0;
  width: 100px;
  text-align: center;
}

.footer .container-footer a:hover {
  color: var(--gray-500);
}

/* ****************** */
/* MEDIA QUERIES */
/* ****************** */

/* MEDIA QUERIES LG 992*/
@media (max-width: 992px) {
  .showcase .content {
    width: 100%;
    margin-bottom: 20vh;
    text-align: center;
  }

  .showcase .buttonarea {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .form .container-form {
    width: 65vw;
  }
}

/* MEDIA QUERIES MD 768*/
@media (max-width: 768px) {
  .container-cta {
    display: flex;
    flex-direction: column;
  }

  .container-cta img {
    width: 100vw;
  }

  .container-cta .cta-content > * {
    display: block;
    text-align: center !important;
  }

  .cta-content .btn {
    width: 50%;
    margin: 0 auto;
  }

  .form .container-form .first-last-name {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .form .container-form .first-last-name .input-name {
    width: 100%;
    margin-bottom: 1rem;
  }

  .form .container-form {
    width: 80vw;
  }

  .footer {
    background-image: linear-gradient(to bottom, #004d7a, #008793);
  }

  .footer .container-footer {
    flex-direction: column;
    padding: 1rem 0;
  }

  .footer .container-footer a {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
}

/* MEDIA QUERIES SM 576*/
@media (max-width: 576px) {
  .showcase .buttonarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tickets-form .ticketsFirstName,
  .ticketsLastName {
    width: 100%;
  }

  .tickets-form .labelTicketsQuantity,
  .labelTicketsCategory {
    width: 100%;
  }

  .tickets-form .btnTickets {
    width: 100%;
  }
}
