.size {
  font-size: 13px;
}

.verde {
  color: green;
}

.oscuro {
  background-color: rgb(27, 27, 27);
}

h2 {
  text-align: right;
  font-weight: bold;
}

.texto {
  text-align: right;
}

.frases {
  text-align: center;
  font-size: 15px;
}

h6 {
  font-size: 30px;
}

.botones {
  padding-left: 5%;
  padding-bottom: 5%;
}

.btn-primary-amarillo {
  background-color: yellow;
  font-weight: bold;
}

.btn-secondary-celeste {
  background-color: lightskyblue;
  font-weight: bold;
}

.btn-secondary-gris {
  background-color: grey;
  font-weight: bold;
}

.btn-secondary-rojo {
  background-color: red;
  font-weight: bold;
}

.col1 {
  height: 500px;
  width: 300px;
}

.posicionCartas {
  justify-content: center;
  padding-bottom: 50px;
}

.fondo-honolulu {
  background-color: #353a40;
  color: white;
}

.recuerda {
  font-size: 10px;
}

.enviar {
  display: flex;
  justify-content: center;
}

.botonEnviar {
  background-color: #96c93e;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  border: 0px;
  height: 40px;
  color: white;
}

.posicion {
  padding-bottom: 20px;
}

.colorFooter {
  background-color: #1e5170;
  color: white;
  padding: 15px;
}

/* responsive media queries */

@media (max-width: 575.9px) {
  .texto {
    font-size: 5px;
  }
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .texto {
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .texto {
    font-size: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
  .texto {
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.9px) {
  .texto {
    font-size: 20px;
  }
}

@media (min-width: 1400px) {
  .texto {
    font-size: 20px;
  }
}
